.ecosystems {
    display: flex;
    flex-direction: column;
}


.image {
  
    height: 400px;
    width:50%;
}

.active {

    display: block;
    
}

.ecosystem {
    width: 100%;
}
.card {
    display: flex;
    position: relative;
}
   
   
.btn1, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7 {
    width: 50%;
    font-size: 3em;
    
}

.btn1 {
  background-color: green;
  color: white;
}

.btn2 {
    background-color: silver;
    color: black;
}

.btn3 {
    background-color: burlywood;
    color: gray;
}

.btn4 {
    background-color: darkgreen;
    color: white;
}

.btn5 {
    background-color:tan;
    color: black;
}
.btn6 {
    background-color: darkgray;
    color: black;
}

.btn7 {
    color: lightblue;
    background-color: darkblue;
}
input {

    right: 0;
}
.image:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(10px, -20px) rotate(10deg); }
    50% { transform: translate(-10px, 20px) rotate(-10deg); }
    100% { transform: translate(10px, -20px) rotate(10deg); }
  }

